@font-face {
    font-family: 'Norse';
    src: url('./font/Norse-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: white;
}

.sidebar {
    position: relative;
    height: 100vh;
    width:40vw;
    overflow: hidden;
    flex-shrink: 0;
}

.bng-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    z-index: -1;
}

.splash-title {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30%;
}

.odin-logo {
    width: 15%;
    height: 15%;
    margin: 0;
    padding: 0;
}

h1.splash-text {
    font-family: 'Norse', 'Times New Roman', Times, serif;
    color: white;
    font-size: 70pt;
    padding: 0;
    margin: 0;
}

.bibliography {
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.description {
    font-weight: 600;
    font-size: 18pt;
    margin: 0 300px 0 50px;
}

.form-container {
    margin: 50px 0px;
}

.form-back {
    margin: 0;
    background-color: white;
    padding: 10px 50px 30px;
}

.form-flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-flex-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 750px;
}

h1.title {
    font-weight: 600;
    font-size: 18pt;
    margin: 0 0 20px;

}

input {
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px #E5E7EB solid ;
}

input:focus {
    box-shadow: 3px 3px 5px;
}

input:invalid {
    border: 2px red solid;
}

button {
    all: unset;
    height: 50px;
    width: 250px;
    flex-shrink: 0;
    font-size: 15pt;
    font-weight: bold;
    margin: 10px 50px;
    padding: 2px;
    text-align: center;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
}

form {
    margin: 0;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

p.log-in {
    margin: 0 50px ;
}